.box {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.background {
    width: 100px;
    height: 100px;
    background-color: #d8d7c3;
    border: 5px solid #7f7f7f;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mag2 {
    border-left: 2px solid #4547fb;
    box-sizing: border-box;
    background-image: url('images/mag2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 0%;
    left: 5%;
}

.mag1 {
    background-image: url('images/mag1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    position: absolute;
    top: -6%;
}

.mag1-left {
    left: -20%;
}

.mag1-right {
    right: -20%;
}

.rabbit {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}
.rabbit-head {
    position: absolute;
    height: 100%;
    aspect-ratio: 248/300;
    right: 0%;
    background-image: url('images/rabbit2.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    transition: background-image 0.3s ease;
}

.rabbit-body {
    background-image: url('images/rabbit1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    aspect-ratio: 248/300;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}

/* При наведении на весь блок */
.background:hover .rabbit-head {
    background-image: url('images/rabbit3.png');
    /* меняем картинку */
    animation: headShake 0.5s ease-in-out infinite alternate;
    /* качаем головой */
}

/* Анимация качания головы */
@keyframes headShake {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

.background::before {
    content: "что-то новенькое";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #466793;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    white-space: nowrap;
}

.background:hover::before {
    opacity: 1;
}

.mag2:hover .mag1-left {
    animation: spin-left 2s linear infinite;
}

.mag2:hover .mag1-right {
    animation: spin-right 2s linear infinite;
}

@keyframes spin-left {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spin-right {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Стили для текста "Ура! Играет!" */
.background::after {
    content: "У";
    position: absolute;
    color: #466793;
    font-weight: bold;
    font-size: 2em;
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    rotate: -30deg;
    transition: opacity 0.2s ease;
    white-space: nowrap;
}

/* При зажатии ЛКМ на фоне */
.background:active{
    animation: shake 0.5s ease-in-out infinite;
}

.background:active::after {
    opacity: 1;
    animation:
        figure-eight 6s ease-in-out infinite
}


/* Анимация восьмерки между катушками */
@keyframes figure-eight {
    0% {
        left: 0%;
        /* левый верх */
        top: 40%;
    }

    12.5% {
        left: 20%;
        /* середина */
        top: 55%;
    }

    25% {
        left: 40%;
        /* правый низ */
        top: 70%;
    }

    37.5% {
        left: 60%;
        /* правый край */
        top: 55%;
    }

    50% {
        left: 40%;
        /* правый верх */
        top: 40%;
    }

    62.5% {
        left: 20%;
        /* середина */
        top: 55%;
    }

    75% {
        left: 0%;
        /* левый низ */
        top: 70%;
    }

    87.5% {
        left: -20%;
        /* левый край */
        top: 55%;
    }

    100% {
        left: 0%;
        /* левый верх */
        top: 40%;
    }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

/* @keyframes scale-pulse {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
} */